<%- include("./_header.ejs", {title: 'ダッシュボード'}) %>
<body>

    <%- include("./_header_nav.ejs") %>

    <div id="content" class="container-fluid">

        <%- include("./_menu.ejs", {menu:'dashboard'}) %>

        <main role="main" class="mailmain col-md-9 ml-sm-auto col-lg-10 px-4">


        </main>

    </div>

    <%- include("./_js.ejs") %>

<%- include("../_footer.ejs") %>
